@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .item {
    @apply bg-purple-100 py-4 px-8 rounded-b-md text-2xl m-4 mt-0 shadow;
  }
  .shadow-bot {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  }

  .button {
    @apply text-purple-50 shadow rounded-xl text-4xl mt-4 self-end px-2 pb-2 focus:outline-none grow-on-hover;
  }
  .grow-on-hover {
    transition: transform 0.3s ease-in-out;
  }
  .grow-on-hover:hover {
    transform: scale(1.1) rotate(5deg);
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fadein {
    animation-name: fadein;
    animation-duration: 0.5s;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .fadeout {
    animation-name: fadeout;
    animation-duration: 0.5s;
  }

  #container {
    @apply bg-gray-200 min-h-screen;
  }
  #addTodoHeader {
    @apply bg-purple-700 mx-4 h-16 rounded-t-md py-4 text-purple-50 shadow;
  }
}
